html {
	height: 100%;
}

body {
	/*border: solid yellow 5px;*/
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
	background-color: black;
}

.accueil {
	/*border: solid green 5px;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form, .menu {
	/*border: solid green 5px;*/
	height: 35%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#pseudo, .button {
	margin: 20px;
	padding: 15px;
	border: black;
	border-radius: 5px;

	text-align: center;
	font-size: 16px;
}

.button {
	background-color: #4CAF50; /* Green */
	color: white;
}

h1 {
	font-size: 500%;
}

.index_system {
	/*border: solid green 5px;*/
	height: 100%;
	width:100%;
}

.index_group {
	display: flex;
}

.index {
    padding:3px;
    padding-right: 2px;
    border:1px solid black;
    cursor:pointer;
}
.non_active {
    background: #383a33;
}
.active {
    background: #2b2d27;
    border-bottom:0px solid black;
    padding-bottom:4px;
}
.content {
	height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 1px;
	background-color: #2b2d27;
}